@import '~bootstrap/scss/bootstrap';




//***** I DUE CONTAINER DEL MAIN FLEXATI *****

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: calc(100vh - 76px);
    display: flex;
}

// container sidebar
.sidebar-container{
    width: 350px;
    display: inline-block;

    .my-navbar{
        background-color: lightblue;
    }
}

// container content
.content-container{
    width: calc(100% - 355px); // 5px in piu per garantire l'affiancamento
    display: inline-block;
    overflow-y: auto;
    background-color: #f8f9fd;

    //***** DASHBOARD *****
    #container-dashboard{
        height: calc(100% - 48px); // sottraggo l'h1 Dashboard

        .my-card{
            width: 50%;
        }

        .my-card, .my-big-card{
            height: 50%;
            padding: 1rem;

            .content{
                height: 100%;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border-radius: 10px;

                .works-num{
                    font-size: 3.5rem;
                }
            }
        }

        .my-big-card{
            width: 100%;
        }
    }

    //***** ARTIST SHOW *****
    #container-show-artist > div{
        padding: 0.3rem 0;
    }
    .artist-photo{
        margin: 1rem 0;
        border-radius: 50%;
        height: 180px;
    }


    //***** WORK INDEX *****
    // immagini delle opere nell'index
    .work-img{
        height: 120px;
        max-width: 300px;
    }

    // badge delle categorie nell'index
    .my-badge{
        background-color: lightseagreen;
        color: white;
        border-radius: 20px;
        padding: 0.2rem 0.7rem;
    }

}

// logo dell'header
.header-logo{
    height: 50px;
}