@import '~bootstrap/scss/bootstrap';




//***** I DUE CONTAINER DEL MAIN FLEXATI *****

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: calc(100vh - 76px); // sottraggo l'header
}

// container sidebar
.sidebar-container{
    width: 350px;
    height: calc(100vh - 76px); // sottraggo l'header
}

// container content
.content-container{
    width: calc(100% - 355px); // 5px in piu per garantire l'affiancamento
        

    // immagini delle opere nell'index
    .work-img{
        height: 120px;
        max-width: 300px;
    }

    // badge delle categorie nell'index
    .my-badge{
        background-color: lightseagreen;
        color: white;
        border-radius: 20px;
        padding: 0.2rem 0.7rem;
    }

}

// logo dell'header
.header-logo{
    height: 50px;
}