@import '~bootstrap/scss/bootstrap';




//***** I DUE CONTAINER DEL MAIN FLEXATI *****

// container sidebar
.sidebar-container{
    width: 20%;
}

// container content
.content-container{
    width: 80%;
}

.work-img{
    height: 120px;
    max-width: 300px;
}

.my-badge{
    background-color: lightseagreen;
    color: white;
    border-radius: 20px;
    padding: 0.2rem 0.7rem;
}